<%- include('partials/header') %>
  <div class="table-container">
    <h2 class="todo-title">Edit Todo</h2>

    <div>
      <a href="/" class="btn">Back</a>

      <form action="/update/<%= todo.id %>" method="post">
        <div class="update-todo">
          <div class="form-group">
            <label for="title" class="text-light">Title</label>
            <input type="text" id="title" name="title" value="<%= todo.title %>" placeholder="Type todo here" required>
          </div>
          <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" id="description" name="description" value="<%= todo.description %>" placeholder="Type description here" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<%- include('partials/footer') %>